#profile-section {
    .btn-red {
        background-color: $red;
        border-radius: 1.6rem;
        color: $white;
        font-weight: bold;
        padding: 0.7rem 3rem;
        text-decoration: none;

        &:hover {
            border-color: 1px solid $info-color;
            background-color: $black;
            color: $info-color;
            border: $info-color;
        }
    }

    .profile-section {
        background-color: $red;
        padding: 2rem;

        .card {
            background-color: $red;
        }
    }

    .form-control {
        border-radius: 0;
    }

    h2 {
        font-weight: 800;

    }

    .profile-avatar {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }


}

#popcorn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 0;

    .popcorn {
        position: absolute;
        top: -100px;
        width: 90px;
    }
}
