// Fonts


// Variables
@import 'colors';
@import 'variables';
@import 'navbar';
@import 'common';
@import 'profile';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: $font-family-sans-serif;
    color: $white;
    background-color: $black;
}
