// Fonts


// Variables
@import 'colors';
@import 'variables';
@import 'navbar';

@import 'common';
@import 'profile';
@import 'log-in-page';
// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: "Roboto",
        sans-serif;

    color: $white;
    background-color: $black;
}
