.button-info {
    background-color: $red;
    border-radius: 1.6rem;
    color: $white;
    font-weight: bold;
    padding: 0.7rem 3rem;
    text-decoration: none;

    &:hover {
        border-color: 1px solid $info-color;
        background-color: $black;
        color: $info-color;
        border: $info-color;
    }
}

.search-btn {
    background-color: $red;
    border-radius: 1.6rem;
    color: $white;
    font-weight: bold;
    padding: 0.7rem 3rem;
    text-decoration: none;
    border: 1px solid transparent;

    &:hover {
        border-color: 1px solid $info-color;
        background-color: $black;
        color: $info-color;
        border-color: $info-color;
    }
}

.button-red {
    background-color: $red;
    border-radius: 1.6rem;
    color: $white;
    font-weight: bold;
    padding: 0.7rem 3rem;
    text-decoration: none;
    border: 1px solid transparent;

    &:hover {
        border-color: 1px solid $info-color;
        background-color: $black;
        color: $info-color;
        border-color: $info-color;
    }
}

.search-input {
    border-radius: 1rem;
    height: 40px;
    width: 299px;
    border: none;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.watchlist-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: $red;
    /* adjust as needed */
    cursor: pointer;
    line-height: 1;
    padding: 0;
}

.watchlist-btn:hover {
    transform: scale(1.1);
}
.frosted-navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
    background: rgba(255, 255, 255, 0.1);
    /* Transparent white */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Optional: make text stand out */
.frosted-navbar .nav-link,
.frosted-navbar .navbar-brand {
    color: white !important;
}

.frosted-navbar .nav-link:hover {
    color: #ffd700 !important;
    /* gold on hover */
}

