.button-info {
    background-color: $red;
    border-radius: 1.6rem;
    color: $white;
    font-weight: bold;
    padding: 0.7rem 3rem;
    text-decoration: none;

    &:hover {
        border-color: 1px solid $info-color;
        background-color: $black;
        color: $info-color;
        border: $info-color;
    }
}

.search-btn {
    background-color: $red;
    border-radius: 1.6rem;
    color: $white;
    font-weight: bold;
    padding: 0.7rem 3rem;
    text-decoration: none;

    &:hover {
        border-color: 1px solid $info-color;
        background-color: $black;
        color: $info-color;
        border: $info-color;
    }
}

.search-input {
    border-radius: 1rem;
    height: 40px;
    width: 299px;
    border: none;
}

.card {

    .card-body {
        background-color: $black;
        color: $white;
    }
}
