.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    min-height: 80vh;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-success {
    background-color: rgb(62, 237, 179) !important;
}

.btn-danger {
    background-color: $red !important;
}

#main {
    background-image: url('../../public/images/film-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-position: bottom;
}

.watchlist-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: $red;
    /* adjust as needed */
    cursor: pointer;
    line-height: 1;
    padding: 0;
}

.watchlist-btn:hover {
    transform: scale(1.1);
    border-color: $info-color;

}

.frosted-navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
    background: rgba(255, 255, 255, 0.1);
    /* Transparent white */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#win-message {
    background: rgb(23 22 22 / 73%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    h3 {
        color: $red;
        padding-top: 7rem;
    }

    a {
        color: $white;
        text-decoration: none;
        &:hover{
            color: $red;
            text-decoration: underline;
        }
    }
}

.trivia-section {
    .badge {
        background-color: $red;
    }

    .card {
        color: $white;
        border-radius: 0;
        background: rgb(23 22 22 / 73%);
        padding: 2rem;
        transition: border 0.3s ease,
            transform 0.3s ease,
            box-shadow 0.3s ease;

        &:hover {
            border: 1px solid rgba(255, 255, 255, 0.2);
            transform: scale(1.02);
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.1),
                0 0 30px rgba(255, 0, 128, 0.2); // pink-glow
        }

        h5 {
            font-family: "Bebas Neue",
                sans-serif;
            font-size: 2rem;
            margin: auto;
            padding: 1.4rem;
        }

        .btn {
            border: 1px solid $info-color;
            color: $info-color;

            &:hover {
                color: $red;
                transition: all 0.3s ease;
            }
        }
    }
}

/* Optional: make text stand out */
.frosted-navbar .nav-link,
.frosted-navbar .navbar-brand {
    color: white !important;
}

.frosted-navbar .nav-link:hover {
    color: #ffd700 !important;
    /* gold on hover */
}
